@import "tailwindcss";

@keyframes sakuraFall {
  0% {
    top: -40px;
    opacity: 0;
  }
  10% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    top: 105%;
    opacity: 0;
  }
}

@keyframes sakuraSway {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(45px) rotate(180deg);
  }
  100% {
    transform: translateX(-35px) rotate(360deg);
  }
}
